.hg/
Projects/STM32F429ZI-Nucleo/Applications/Cloud/Bluemix/MDK-ARM/obj/*
obj/*
Projects/STM32F429ZI-Nucleo/Applications/Cloud/Bluemix/MDK-ARM/*.dep
Projects/STM32F429ZI-Nucleo/Applications/Cloud/Bluemix/MDK-ARM/*.uvgui.*
Projects/STM32F429ZI-Nucleo/Applications/Cloud/Bluemix/MDK-ARM/*.bak

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.crf
*.bak
obj/*
*.dep
*.uvgui.*

